html{
    font-size: 18px;
    
}


*{
    box-sizing: border-box;


}


body{
    text-decoration: none;
    
}


img {
    width: 400%;
    max-width: 250px;
}

#main-logo {
    width: 100%;
    max-width: 250px;
    margin: 0px auto;
    display: block;

}
.flex-menu {
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
  }
.flex-menu a{
    color: #000;
    font-family: Arial, Helvetica, sans-serif;

}

.flex-space-b{
display: felx;
justify-content: space-between;
justify-content: space-between;
flex-wrap: wrap;
gap: 1rem;

flex-space-b form label {
    visibility: hidden;
    position: absolute;
  }

}

.flex-space-b form label{
    visibility: hidden;
    position: absolute;

}

#outlet{
    color: #ff0000;

}

.product-card {
    max-width: 350px;
    min-width: 250px;
    width: 100%;
    box-shadow: 10px 10px 10px 10px #efefef;
    border: 4px dotted #000;
    padding: 1rem;
  }